.footer {
  width: 100%;
  padding: 75px 30px;
  background: #010138;
  color: white;
  text-align: center;
  box-shadow: 0 0 20px 2px grey;
  line-height: 1.7;
  font-size: 1.2rem;
  z-index: 110; }
  @media screen and (max-width: 700px) {
    .footer {
      font-size: 1.1rem; } }
  @media screen and (max-width: 500px) {
    .footer {
      font-size: 1rem;
      padding: 75px 25px; } }
  .footer span {
    color: #f5612b; }
