.footer {
  width: 100%;
  padding: 75px 30px;
  background: #010138;
  color: white;
  text-align: center;
  box-shadow: 0 0 20px 2px grey;
  line-height: 1.5;
  font-size: 1.1rem;
  z-index: 110; }
