@import "abstract.scss", "variables.scss";

.banner {
	font-size: 1.2rem;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 780px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 10;

	.banner__down-arrow {
		width: 32px;
		height: 32px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		padding: 5px;
		// background: $primary-color;
		border-radius: 50%;
		@include flex-row(wrap, center, center);
		animation: downArrow 1s infinite ease;
		opacity: .8;

		img {
			width: 90%;
		}
	}

	&.project-background {
		.banner__down-arrow {
			background: $primary-color;

			img {
				width: 80%;
				position: relative;
				// left: 1px;
				top: 1px;
			}
		}
	}

	.banner__project-description {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 50%;
		padding: 25px;
		color: white;
		font-size: 1.5rem;
		background: transparentize($primary-color, .1);
		font-weight: lighter;
		letter-spacing: 1px;

		span {
			color: $secondary-color;
			font-weight: bold;
		}
	}

	&.intro-background {
		// background-image: url("../images/portfolio-banner.jpg");
		background-image: url("../images/water-banner.jpg");

		.banner__overlay {
			height: 100%;
			width: 100%;
			// background: radial-gradient(circle, transparent, rgba(2, 0, 36, 0.7));
			// background: transparentize(white, .75);
			background: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.8));
			position: absolute;
			left: 0;
			top: 0;
			z-index: -10;
		}
	}

	&.project-background {
		.banner__overlay {
			height: 100%;
			width: 100%;
			background: transparentize(white, .2);
			position: absolute;
			left: 0;
			top: 0;
			z-index: -10;
		}
	}

	.portfolio-description {
		position: absolute;
		top: 55%;
		transform: translateY(-50%) translateX(-50%);
		// background: rgba(1, 1, 56, 0.7);
		// background: radial-gradient(rgba(1, 1, 56, 0.70), $primary-color);
		padding: 30px 20px;
		color: white;
		// width: 65%;
		width: 100%;
		left: 50%;
		// box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.25);
		line-height: 1.5;
		max-width: 1000px;
		min-width: 875px;
		text-align: center;

		.portfolio-description__quote {
			font-family: $intro-text-font, sans-serif;
			font-size: 2.1rem;
			letter-spacing: 1px;
			font-weight: 900;
		}
	}

	.banner__picture-popup-container {
		position: absolute;
		bottom: 5px;
		left: 25px;
		width: 50px;
		height: 50px;

		@include mediaQuery(900px) {
			display: none;
		}
	}

	.header__photo-info-button {
		border-radius: 1px;
		padding: 4px;
		@include flex-row(nowrap, center, center);
		cursor: pointer;
		z-index: 10;
		width: 30px;
		height: 30px;
		transition: opacity .2s;
		background: $secondary-color;
		opacity: .8;
		border-radius: 3px;

		img {
			width: 97%;
		}

		&:hover {
			opacity: 1;

			& + .banner__picture-popup {
				opacity: 1;
				z-index: 10;
				transition: z-index 0s 0s step-end, opacity .2s 0s;
			}
		}
	}

	.banner__picture-popup {
		z-index: -10;
		opacity: 0;
		transition: z-index .1s .2s step-end, opacity .2s 0s;
		width: 215px;
		border-radius: 3px;
		padding: 15px;
		font-size: .85rem;
		background: white;
		color: $secondary-color;
		position: absolute;
		position: absolute;
		left: 100%;
		top: -14.5%;
		text-align: center;
		font-weight: 500;
		letter-spacing: .7px;
	}
}

.portfolio-description {
	.portfolio-description__text {
		margin-bottom: 0;
	}
}

.header {
	@include flex-row(nowrap, space-between, center);
	color: $secondary-color;
	padding: 0 50px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $header-z;
	background: transparentize($primary-color, .3);
	height: $header-height;

	.header__title-container {


		.header__title {
			font-size: 2.5rem;
			font-weight: 500;
			color: $secondary-color;
		}

		.header__subtitle {
			margin-top: 10px;
			font-size: 1.7rem;
			font-weight: 300;
			color: white;
		}
	}
}

//animations
@keyframes downArrow {
	0% {
		bottom: 10px;
	}

	50% {
		bottom: 20px;
	}

	100% {
		bottom: 10px;
	}
}
