.upper-content {
  font-size: 1.2rem;
  background-image: url("../images/portfolio-banner.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10; }
  .upper-content .header__overlay {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, transparent, rgba(2, 0, 36, 0.7));
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10; }
  .upper-content .portfolio-description {
    position: absolute;
    top: 60%;
    transform: translateY(-50%) translateX(-50%);
    background: radial-gradient(rgba(1, 1, 56, 0.6), #010138);
    padding: 40px 100px;
    color: white;
    width: 60%;
    left: 50%;
    font-weight: 100;
    box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.25); }

.portfolio-description .portfolio-description__text {
  margin-bottom: 0; }

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  color: #f94c0c;
  padding: 50px; }
  .header .header__title-container {
    color: #f94c0c;
    font-size: 2rem; }
    .header .header__title-container .header__title,
    .header .header__title-container .header__subtitle {
      font-weight: 300; }
    .header .header__title-container .header__subtitle {
      margin-top: 15px; }
