* {
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", Arial, sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to right, white, #b5b5b5);
  color: #010138; }
  body.home-banner-image {
    background: url("../images/background-gray2.png"); }

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

::selection {
  background: #ffb7b7; }

.ScrollUpButton__Container {
  background-color: #010138;
  border-radius: 50%;
  border: 5px solid transparent;
  position: fixed;
  bottom: 20px;
  width: 39px;
  height: 39px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-property: opacity, right;
  transition-property: opacity, right;
  cursor: pointer;
  opacity: 0;
  right: -75px;
  z-index: 99;
  padding: 4px; }
  @media screen and (max-width: 600px) {
    .ScrollUpButton__Container {
      width: 36px;
      height: 36px; } }

.ScrollUpButton__Toggled {
  opacity: .75;
  right: 20px; }
  @media screen and (max-width: 600px) {
    .ScrollUpButton__Toggled {
      right: 10px; } }
