@import "abstract.scss", "variables.scss";

$mobile-breakpoint-primary: 950px;

.project-list-section {
	// background: radial-gradient(circle, white, #b5b5b5);
}

.project-search {
	z-index: 200;
	position: relative;
	padding: 100px 0 0;
	@include flex-row(wrap, center, center);

	@include mediaQuery(1050px) {
		@include flex-column(wrap, center, center);
		padding: 80px 0 0;
	}

	@include mediaQuery(900px) {
		padding: 50px 0 0;
	}

	.project-search__caption {
		height: 100%;
		display: block;
		padding: 20px;
		font-size: 1.8rem;
		border-right: 4px solid $secondary-color;
		margin-right: 20px;
		color: $primary-color;

		@include mediaQuery(1050px) {
			margin-right: 0;
			border-right: none;
			font-size: 1.7rem;
		}

		@include mediaQuery(800px) {
			font-size: 1.6rem;
		}
	}

	.project-search__form {
		width: 55%;
		position: relative;
		max-width: 900px;

		@include mediaQuery(1050px) {
			width: 75%;
		}

		@include mediaQuery(900px) {
			width: 93%;
		}
	}

	.project-search__search-box {
		width: 100%;
		color: $primary-color;
		border: none;
		// margin-bottom: 20px;
		padding: 20px 60px 20px 20px;
		background: transparentize($primary-color, .8);
		font-size: 1.25rem;
		display: block;
		background-image: url("../images/search.svg");
		background-position: 95% 50%;
		background-size: 25px;
		background-repeat: no-repeat;
		font-weight: lighter;
		transition: all .25s;
		z-index: 1;

		@include mediaQuery(1250px) {
			font-size: 1.1rem;
			letter-spacing: -.4px;
		}

		@include mediaQuery(1050px) {
			padding: 18px 60px 18px 20px;
			font-size: 1.2rem;
		}

		@include mediaQuery(800px) {
			font-size: 1rem;
		}

		@include mediaQuery(600px) {
			font-size: .9rem;
		}

		&:focus + .project-search__loading-bar-container {
			// bottom: -6px;
			// opacity: 1;
			height: 6px;
		}
	}

	.project-search__loading-bar-container {
		// height: 6px;
		height: 0;
		width: 100%;
		position: absolute;
		z-index: -1;
		background: transparentize($primary-color, .3);
		transition: all .25s;
		// top: 100%;
		bottom: 0;
		display: block;
		// opacity: 0;
	}

	.project-search__loading-bar {
		width: 0;
		height: 100%;
		background: $secondary-color;
		opacity: 0;
		bottom: 0;
		position: absolute;

		&.loading {
			width: 100%;
			opacity: 1;
			transition: all .7s ease-out;
		}
	}
}

.project-list {
	z-index: 200;
	position: relative;
	max-width: 1500px;
	margin: 0 auto;

	.project-list__list > div {
		@include flex-row(wrap, center, flex-start);
		margin: 0 auto;
		padding: 50px 0 80px;
		min-height: 500px;
	}

	.project-list__project {
		width: 320px;
		height: 430px;
		text-align: center;
		// background: radial-gradient(circle, transparentize($primary-color, .5), transparentize($primary-color, .4));
		background: transparentize($primary-color, .2);
		margin: 50px;
		cursor: pointer;
		transition: border .25s, box-shadow .3s;
		position: relative;
		overflow: hidden;
		border-top: 9px solid $secondary-color;
		// box-shadow: 0 2px 8px 0 gray;
		box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.45);
		overflow: hidden;
		// box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

		@include mediaQuery($mobile-breakpoint-primary) {
			margin: 40px;
		}

		@include mediaQuery(800px) {
			width: 280px;
			height: 375px;
		}

		.project-list__project-tech-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 35px;
			background: transparentize(white, .45);
			border-bottom-left-radius: 1px;
			@include flex-column(nowrap, center, center);
			transition: background .3s;

			img {
				width: 25px;
			}

			&:hover {
				background: lighten($secondary-color, 40%);
				& + .project-list__project-tech-popup {
					bottom: 0;
				}
			}
		}

		.project-list__project-tech-caption {
			color: $secondary-color;
			font-size: 1.1rem;
			margin-bottom: 20px;
			font-weight: 600;
		}

		.project-list__project-tech-popup {
			transition: bottom .5s;
			border-top: 3px solid white;
			position: absolute;
			bottom: -300px;
			width: 100%;
			height: 300px;
			background: $primary-color;
			padding: 30px;
			@include flex-column(nowrap, center, center);
			font-size: 1rem;
			font-family: $secondary-font, monospace;
			z-index: 1000;
		}

		&:hover {
			border-top: 9px solid lighten($secondary-color, 40%);

			img {
				backface-visibility: hidden;
				transform: scale(1.00) translateZ(0);
				filter: grayscale(0%);
				opacity: 1;
			}
		}

		a {
			display: block;
			position: relative;
			color: white;
			width: 100%;
			height: 100%;
			text-decoration: none;
		}

		.project-list__project-text {
			height: 55%;
			@include flex-column(nowrap, center, center);
			padding: 0 40px;
			text-decoration: none;
		}

		.project-list__project-name {
			font-size: 1.45rem;
			font-weight: bold;
			letter-spacing: .4px;

			@include mediaQuery(800px) {
				font-size: 1.2rem;
			}
		}

		.project-list__project-short-description {
			font-weight: 200;
			font-size: .95rem;
			margin-top: 18px;
			letter-spacing: 0;
			// font-family: $secondary-font, monospace;

			@include mediaQuery(800px) {
				font-size: .85rem;
			}
		}

		&.portfolio-tile {
			.project-list__project-text {
				height: 100%;
				padding: 20px;
			}
		}
	}

	.project-list__project-image-container {
		// width: 100%;
		height: 41%;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 2px solid $primary-color;

		img {
			backface-visibility: hidden;
			opacity: .9;
			width: 100%;
			object-fit: cover;
			transition: all .35s;
			transform: scale(1.2, 1.2) translateZ(0);
			filter: grayscale(100%);
		}
	}

	.project-not-found {
		position: absolute;
		top: 50%;
		font-size: 1.5rem;
		color: $primary-color;
		transform: translateY(-50%);
	}
}

.focus-background {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	left: 0;
	top: 0;
	opacity: 0;
	z-index: -100;
	transition: z-index 0.1s step-end, opacity .5s ease;

	&.shown {
		z-index: 100;
		opacity: 1;
		transition: z-index 0.1s step-end, opacity .5s ease;
	}
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: $primary-color;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: $primary-color;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: $primary-color;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: $primary-color;
}
