.project-search {
  z-index: 200;
  position: relative;
  padding: 100px 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1050px) {
    .project-search {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      padding: 80px 0 0; } }
  @media screen and (max-width: 900px) {
    .project-search {
      padding: 50px 0 0; } }
  .project-search .project-search__caption {
    height: 100%;
    display: block;
    padding: 20px;
    font-size: 1.8rem;
    border-right: 4px solid #f5612b;
    margin-right: 20px;
    color: #010138; }
    @media screen and (max-width: 1050px) {
      .project-search .project-search__caption {
        margin-right: 0;
        border-right: none;
        font-size: 1.7rem; } }
    @media screen and (max-width: 800px) {
      .project-search .project-search__caption {
        font-size: 1.6rem; } }
  .project-search .project-search__form {
    width: 55%;
    position: relative;
    max-width: 900px; }
    @media screen and (max-width: 1050px) {
      .project-search .project-search__form {
        width: 75%; } }
    @media screen and (max-width: 900px) {
      .project-search .project-search__form {
        width: 93%; } }
  .project-search .project-search__search-box {
    width: 100%;
    color: #010138;
    border: none;
    padding: 20px 60px 20px 20px;
    background: rgba(1, 1, 56, 0.2);
    font-size: 1.25rem;
    display: block;
    background-image: url("../images/search.svg");
    background-position: 95% 50%;
    background-size: 25px;
    background-repeat: no-repeat;
    font-weight: lighter;
    transition: all .25s;
    z-index: 1; }
    @media screen and (max-width: 1250px) {
      .project-search .project-search__search-box {
        font-size: 1.1rem;
        letter-spacing: -.4px; } }
    @media screen and (max-width: 1050px) {
      .project-search .project-search__search-box {
        padding: 18px 60px 18px 20px;
        font-size: 1.2rem; } }
    @media screen and (max-width: 800px) {
      .project-search .project-search__search-box {
        font-size: 1rem; } }
    @media screen and (max-width: 600px) {
      .project-search .project-search__search-box {
        font-size: .9rem; } }
    .project-search .project-search__search-box:focus + .project-search__loading-bar-container {
      height: 6px; }
  .project-search .project-search__loading-bar-container {
    height: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: rgba(1, 1, 56, 0.7);
    transition: all .25s;
    bottom: 0;
    display: block; }
  .project-search .project-search__loading-bar {
    width: 0;
    height: 100%;
    background: #f5612b;
    opacity: 0;
    bottom: 0;
    position: absolute; }
    .project-search .project-search__loading-bar.loading {
      width: 100%;
      opacity: 1;
      transition: all .7s ease-out; }

.project-list {
  z-index: 200;
  position: relative;
  max-width: 1600px;
  margin: 0 auto; }
  .project-list .project-list__list > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 60px 0 80px;
    min-height: 500px; }
    @media screen and (max-width: 1350px) {
      .project-list .project-list__list > div {
        padding: 50px 20px 80px; } }
    @media screen and (max-width: 900px) {
      .project-list .project-list__list > div {
        padding: 50px 0 80px; } }
  .project-list .project-list__project {
    width: 370px;
    height: 350px;
    text-align: center;
    background: rgba(1, 1, 56, 0.95);
    margin: 30px;
    cursor: pointer;
    transition: border .25s, box-shadow .3s;
    position: relative;
    overflow: hidden;
    border-top: 9px solid #f5612b;
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.45);
    overflow: hidden; }
    @media screen and (max-width: 950px) {
      .project-list .project-list__project {
        margin: 40px; } }
    @media screen and (max-width: 800px) {
      .project-list .project-list__project {
        width: 280px;
        height: 375px; } }
    @media screen and (max-width: 600px) {
      .project-list .project-list__project {
        width: 250px;
        height: 350px;
        margin: 25px 30px; } }
    .project-list .project-list__project .project-list__project-tech-button {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background: #f5612b;
      padding: 4px;
      margin-bottom: 18px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      transition: background .3s;
      opacity: .9; }
      @media screen and (max-width: 800px) {
        .project-list .project-list__project .project-list__project-tech-button {
          display: none; } }
      .project-list .project-list__project .project-list__project-tech-button img {
        width: 78%;
        position: relative;
        top: .5px; }
      .project-list .project-list__project .project-list__project-tech-button:hover {
        background: #f89774; }
    .project-list .project-list__project .project-list__project-tech-caption {
      color: #f5612b;
      font-size: 1.1rem;
      margin-bottom: 14px;
      font-weight: 600; }
    .project-list .project-list__project .project-list__project-tech-popup {
      transition: bottom .5s;
      border-top: 3px solid white;
      position: absolute;
      bottom: -210px;
      width: 100%;
      height: auto;
      background: black;
      padding: 35px 25px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      font-size: .88rem;
      font-family: "Roboto Mono", monospace;
      z-index: 1000; }
      @media screen and (max-width: 800px) {
        .project-list .project-list__project .project-list__project-tech-popup {
          display: none; } }
      .project-list .project-list__project .project-list__project-tech-popup.tech-popup-shown {
        bottom: 0; }
    .project-list .project-list__project:hover {
      border-top: 9px solid #fef2ee; }
    .project-list .project-list__project:hover:not(.portfolio-tile) .project-list__project-text {
      background: #010138; }
    .project-list .project-list__project:hover:not(.portfolio-tile) img {
      backface-visibility: hidden;
      transform: scale(1) translateZ(0);
      filter: grayscale(0%);
      opacity: 1; }
    .project-list .project-list__project a {
      display: block;
      position: relative;
      color: white;
      width: 100%;
      height: 100%;
      text-decoration: none; }
    .project-list .project-list__project .project-list__project-text {
      height: 200px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      text-decoration: none;
      position: absolute;
      width: 80%;
      z-index: 100;
      background: rgba(1, 1, 56, 0.8);
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      transition: all .3s; }
      @media screen and (max-width: 800px) {
        .project-list .project-list__project .project-list__project-text {
          padding: 0 30px; } }
      @media screen and (max-width: 600px) {
        .project-list .project-list__project .project-list__project-text {
          padding: 0 20px; } }
    .project-list .project-list__project .project-list__project-name {
      font-size: 1.45rem;
      font-weight: bold;
      letter-spacing: .4px; }
      @media screen and (max-width: 800px) {
        .project-list .project-list__project .project-list__project-name {
          font-size: 1.2rem; } }
      @media screen and (max-width: 600px) {
        .project-list .project-list__project .project-list__project-name {
          font-size: 1.2rem; } }
    .project-list .project-list__project .project-list__project-short-description {
      font-weight: 200;
      font-size: .95rem;
      margin-top: 10px;
      letter-spacing: 0;
      width: 95%; }
      @media screen and (max-width: 800px) {
        .project-list .project-list__project .project-list__project-short-description {
          font-size: .85rem; } }
      @media screen and (max-width: 600px) {
        .project-list .project-list__project .project-list__project-short-description {
          font-size: .8rem; } }
    .project-list .project-list__project.portfolio-tile .project-list__project-text {
      height: 100%;
      padding: 20px 25px;
      width: 100%; }
  .project-list .project-list__project-image-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #010138; }
    .project-list .project-list__project-image-container img {
      backface-visibility: hidden;
      opacity: 1;
      transition: all .35s;
      transform: scale(1.2, 1.2) translateZ(0);
      filter: grayscale(100%);
      height: 100%;
      position: relative;
      left: -21%; }
  .project-list .project-not-found {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    color: #010138;
    transform: translateY(-50%); }

.focus-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -100;
  transition: z-index 0.1s step-end, opacity .5s ease; }
  .focus-background.shown {
    z-index: 100;
    opacity: 1;
    transition: z-index 0.1s step-end, opacity .5s ease; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #010138; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #010138; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #010138; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #010138; }

@keyframes fadeEnter {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
