@import "./abstract.scss", "./variables.scss";

$mobile-breakpoint-primary: 950px;

.project-description {
	min-height: 800px;
	padding-bottom: 30px;

	@include mediaQuery(700px) {
		padding-bottom: 0;
	}

	.project-description__home-link {
		width: 200px;
		background: transparentize($primary-color, .80);
		color: white;
		text-align: center;
		margin-bottom: 100px;
		border-bottom-right-radius: 6px;
		font-size: 1.2rem;
		padding: 0;
		cursor: pointer;
		transition: all .1s;

		@include mediaQuery($mobile-breakpoint-primary) {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: 75px;
			width: 100%;
			border-radius: 0;
		}

		&:hover {
			background: transparentize($primary-color, .70);
			a {
				img {
					right: 16px;
				}
			}
		}

		a {
			padding: 18px 20px;
			text-decoration: none;
			color: $primary-color;
			display: block;
			width: 100%;
			height: 100%;

			img {
				display: inline-block;
				width: 20px;
				transform: rotate(90deg);
				position: relative;
				right: 10px;
				top: 3px;
				transition: all .2s;
			}
		}
	}

	.project-description__section {
		margin: 0 auto 100px;

		@include mediaQuery($mobile-breakpoint-primary) {
			margin: 0 auto 80px;
		}

		&.project-description__section--links {
			@include flex-column(wrap, center, center);

			.project-link {
				width: 300px;
				height: 73px;
				background: $secondary-color-muted;
				cursor: pointer;
				font-size: 1.2rem;
				margin: 20px;
				transition: all .1s;
				border: none;
				box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.11) inset;

				@include mediaQuery($mobile-breakpoint-primary) {
					width: 275px;
				}

				@include mediaQuery(800px) {
					width: 250px;
					height: 65px;
				}

				@include mediaQuery(600px) {
					font-size: 1.1rem;
					height: 60px;
				}

				.github-disabled-message {
					display: none;
				}

				&.no-demo {
					display: none;
				}

				&.github-disabled {
					background: transparentize(gray, .2);
					position: relative;
					cursor: auto;
					opacity: .8;

					@include mediaQuery($mobile-breakpoint-primary) {
						display: none;
					}

					&:hover {
						background: transparentize(gray, .2);
					}

					a {
						pointer-events: none;
					}

					.github-disabled-message {
						content: "Sorry, this repo is owned by an organization and is private";
						position: absolute;
						display: block;
						width: 220px;
						height: auto;
						left: 80%;
						top: 50%;
						transform: translateY(-50%);
						transition: opacity .2s, left .4s;
						opacity: 0;
						padding: 15px;
						background: transparentize(maroon, .2);
						color: white;
						font-size: .8rem;
						border-radius: 4px;
						letter-spacing: .4px;
						pointer-events: none;

						&::before {
							content: "";
							width: 0;
							height: 0;
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent;
							border-right: 8px solid transparentize(maroon, .2);
							position: absolute;
							left: -8px;
							top: 50%;
							transform: translateY(-50%);
						}

						@include mediaQuery(900px) {
							display: none;
						}
					}
				}

				&:hover {
					background: $secondary-color;

					.github-disabled-message {
						left: 110%;
						opacity: 1;
						transition: opacity .4s, left .45s;
					}
				}
			}

			a {
				text-decoration: none;
				color: white;
				padding: 15px;
				display: block;
				height: 100%;
				width: 100%;
				@include flex-column(nowrap, center, center);
			}
		}

		.project-description__buttons {
			margin: 20px auto 0;
			@include flex-row(wrap, center, center);
		}
	}

	.project-description__description {
		width: 80%;
		margin: 0 auto;
		font-size: 1.9rem;
		line-height: 1.4;
		text-align: center;

		@include mediaQuery($mobile-breakpoint-primary) {
			font-size: 1.7rem;
		}

		@include mediaQuery(800px) {
			font-size: 1.5rem;
			width: 85%;
		}

		@include mediaQuery(600px) {
			font-size: 1.4rem;
			width: 95%;
		}
	}

	.project-description__technology-header,
	.project-description__links-header {
		text-align: center;
		font-size: 1.5rem;
		color: gray;
	}

	.project-description__technology-list {
		margin: 20px auto 0;
		width: 80%;
		@include flex-row(wrap, center, center);

		.project-description__technology-list-item {
			width: 150px;
			height: 130px;
			background: transparentize($primary-color, .4);
			margin: 20px;
			// border-radius: 6px;
			@include flex-column(nowrap, center, center);
			color: white;

			@include mediaQuery(800px) {
				width: 140px;
				height: 120px;
			}

			p {
				font-size: .85rem;
			}

			img {
				height: 40px;
				margin-bottom: 20px;
			}
		}
	}
}
