$primary-color: #010138;
$secondary-color: #f94c0c;
$secondary-color-muted: #d4643b;

//measurements
$header-height: 170px;

//fonts
$primary-font: "Overpass";
$secondary-font: "Roboto Mono";

// z-indexes
$header-z: 100;
